.tile {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.tile img {
  width: 60px;
  height: 40px;
  margin-left: 0px;
  margin-top: 0px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.open {
  background-color: white;
}

.solid{
  background-color: black;
}
