<div class="tile-container ">
  <div class="tile" [ngStyle]="{'transform': 'rotate(' + tile.rotation +'deg)'}">
    <img *ngIf="tile" src={{getImageUrl()}} [ngStyle]="{'margin-left': getXOffset() + 'px', 'margin-top': getYOffset() + 'px'}">
    <div>
      {{tile.type}},
      solid: {{tile.solid}},
      adj: {{tile.adjacency}},
      rot: {{tile.rotation}}
      x: {{getXOffset()}},
      y: {{getYOffset()}},
      air: {{tile.air}}
      url: {{getImageUrl()}}
    </div>
  </div>
  <div *ngIf="mode === 'air' && tile.air != 0" class="number">{{tile.air}}</div>
  <div *ngIf="mode === 'distance' && tile.distance != 0 && tile.distance != 2147483647" class="number">{{tile.distance}}</div>
</div>