.tile-container {
  position: relative;
}

.tile {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.tile img {
  width: 120px;
  height: 80px;
  margin-left: 0px;
  margin-top: 0px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.open {
  background-color: white;
}

.solid{
  background-color: black;
}

.number {
  color: #000;
  position: absolute;
  top: 50%;
  left: 0%;
  text-shadow: 0px 0px 2px #fff;
}

.shielded {
  position: absolute;
  top: 0px;
  opacity: 0.4;
  width: 40px;
  height: 40px;
  background-color: aqua;
}

.circle {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
}

.science {
  background: blue;
}

.engineering {
  background: yellow;
}
